
@{
    ViewData["Title"] = "MiPerfil";
}

<html>
<body>
    <p>
        Nombre :
    </p>
    <p>
        @Model.Nombre
    </p>
    <p>
        Ciudad :
    </p>
    <p>
        @Model.Ciudad
    </p>
    <p>
        Especialidad :
    </p>
    <p>
        @Model.Especialidad
    </p>
    <p>
        Correo :
    </p>
    <p>
        @Model.Correo
    </p>
    <p>
        Telefono :
    </p>
    <p>
        @Model.Telefono
    </p>
    <p>
        Numerodecontrol :
    </p>
    <p>
        @Model.NumerodeControl
    </p>
</body>
</html>

