
@{
    ViewData["Title"] = "MiPerfil";
}

<html>
<head>
    <style>
        * {
            background-color: red;
        }

        p {
            font-family: Arial;
            text-align: center;
            font-size: 40px;
            color: wheat;
        }
    </style>
</head>
<body>
    <p>
        Nombre :
    </p>
    <p>
        @Model.Nombre
    </p>
    <p>
        Ciudad :
    </p>
    <p>
        @Model.Ciudad
    </p>
    <p>
        Especialidad :
    </p>
    <p>
        @Model.Especialidad
    </p>
    <p>
        Correo :
    </p>
    <p>
        @Model.Correo
    </p>
    <p>
        Telefono :
    </p>
    <p>
        @Model.Telefono
    </p>
    <p>
        Numerodecontrol :
    </p>
    <p>
        @Model.NumerodeControl
    </p>
</body>
</html>

